.row {
    grid-template-rows: 1fr;
    
    .section1{
       
    } 
    .section2{
       
    }
}

//First section


.presentation-container {
    margin-top: 30px;
    padding: 15px;
    font-size: 30px;
    z-index: 10;

        h1 {
            letter-spacing: 3px;
        }
        
        .dynamic-texts {
            z-index: 10;
             li {
            list-style: none;
            font-weight: 500;
            margin: 5px;
            
            .lines::after{
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                border-left: 1px solid black;
                animation: typing 2s steps(12) infinite;
                background: white;
            }
            .lines{
                position: relative;
               
            }
        }
        }
       img {

        margin: 0;
        top: 0;
        max-width:100%;
        height:auto;
       }

}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
        width: 0px;
    }
}
/*.circles_container {

   //animation: gradient 1s linear;

    .circle1{
        background-color: #07afd2;
        //background-image: url(../../imagenes/firstImageSlide.jpg);
        //background: transparent;
        height: 150px;
        animation: infoWidth 1s ease-in;
        //animation: gradient 1s ease-in;
    }
    .circle2{
        position: relative;
        right: 0;
        background-color: #67e4e6;
        //background: transparent;
        //background-image: url(../../imagenes/secondImageSlide.png);
        height: 150px;
        animation: infoWidth 1.5s ease-in;
        //animation: gradient 1.5 ease-in;
    }
    .circle3{
        right: 100%;
        background-color: #cafffc;
        //background: transparent;
        //background-image: url(../../imagenes/thirdImageSlide.png);
        height: 150px;
        animation: infoWidth 2s ease-in;
        //animation: gradient 2s ease-in;
    }
}

@keyframes infoWidth {
    from{
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/*@keyframes gradient {
    0%{
        background: white;
    }

    50%{
        background: whitesmoke;
    }

    100%{
        background-image: url(../../imagenes/imagenCompleta.jpg);
    }

}*/

//Second section

.profile_image-container{
    position: absolute;
    width: 250px;
    right: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid black;
    margin: 100px auto;
    animation: imageEntry 1s ease-out;
    img{
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }

    
}

@keyframes imageEntry {
    from{
        transform: translateY(800px);
    }

    to {
        transform: translateY(0px);
    }
}


.cv_button{
    //position: absolute;
    display: inline-block;
    border-radius: 500px;
    font-size: inherit;
    padding: 11px 60px;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    margin: 50px 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    i{
    //display: none;
    color: white;
    }
    span{
    color: white;
    }
}

.cv_buttonAnimated{

    span{
    //display: none;
    }

    i{
    //display: block;
    }

    transition: all 1.5s;
    padding: 11px 11px;
}



