@import './grid-system/gridSystem';
@import './navBar/navbar';
@import './index/index.scss';
@import './contact/contact';
@import './carrousel/carr.scss';

body {
    margin: 0;
    overflow-x: hidden;
}

main{
    position: relative;
}