nav {  
	background-color: #57CBCB;
    border-bottom: 1.7px solid #E5E8E5;;;
	width: 100%;
    text-align: center;
    z-index: 250;
    padding: 10px 0px;
    @media screen and (min-width: 768px) {
        
    }

    .user_info {
        i {
            position: relative;
            margin: 10px;
            cursor: pointer;
            font-size: 25px;

            @media screen and (min-width: 768px) {
                color: #A6D372;
            }
        }
    }

    .prod_counter {
        position: absolute;
        border-radius: 100%;
        background-color: red;  
        top: 15px;
        height: 16px;
        width: 16px;
    }

    .burger {
        position: relative;
        right: 0;
        left: 0;
        margin: 5px auto;
        display: inline-block;
        cursor: pointer;
     
        div {
            width: 25px;
            height: 3px;
            margin: 4px;
            background-color: black;
            transition: opacity 0s, transform 0.7s ease;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
       
    }

    .mobile__nav-container {
        width: 100%;
        color: black;
        background-color: #FCFFF2;
        z-index: 100;
     

        position: absolute;
        transform: translateY(-900px);
        transition: transform 0.7s, opacity 1s ease-in;
    
        @media screen and (min-width: 768px){
            position: relative !important;
            transform: translateY(0px) !important;
            background-color: inherit;
        }

       .flex__ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            position: relative;
        }

        li {
            margin: 8px;
            list-style: none;
            :hover{
                font-size: 20px;
                transition: all .3s;
                text-decoration: underline;
            }
            @media screen and (min-width: 768px) {
               margin: 5px 25px;
            }

            a {
                font-size: 17px;
                opacity: 0;
                text-decoration: none;
                color: white;
                font-weight: bold;

                @media screen and (min-width: 768px) {
                    opacity: 1;
                }
            }
        }
       }
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.toggle {
    .line1{
        transform: rotate(-45deg) translate(-4.8px,6px);
    }
    .line2{
       opacity: 0; 
    }
    .line3{
        transform: rotate(45deg) translate(-4px,-6px);
    }
}
